@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                    <i class="mdi mdi-home"></i>
                </span> Application Users
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <a asp-action="Create">Create New</a>
                        </p>
                        <div class="table-wrapper">
                            <div class="table-filter">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="show-entries">
                                            <span>Show</span>
                                            <select class="form-control">
                                                <option>5</option>
                                                <option>10</option>
                                                <option>15</option>
                                                <option>20</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-9">
                                        <button type="button" class="btn bg-gradient-primary text-white"><i class="fa fa-search"></i></button>
                                        <div class="filter-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="filter-group">
                                            <label>Location</label>
                                            <select class="form-control">
                                                <option>All</option>
                                            </select>
                                        </div>
                                        <div class="filter-group">
                                            <label>Status</label>
                                            <select class="form-control">
                                                <option>Any</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        No.
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhoneNumber)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    index++;
                                    string selectedRow = "";
                                    if (item.Id == (string?)ViewData["UserName"])
                                    {
                                        selectedRow = "table-success";
                                    }
                                    <tr class="@selectedRow">
                                        <td>@index</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <th>
                                            @Html.DisplayFor(modelItem => item.PhoneNumber)

                                        </th>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary ml-1">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger ml-1">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="clearfix">
                            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                            <ul class="pagination">
                                <li class="page-item disabled"><a href="#">Previous</a></li>
                                <li class="page-item"><a href="#" class="page-link">1</a></li>
                                <li class="page-item"><a href="#" class="page-link">2</a></li>
                                <li class="page-item"><a href="#" class="page-link">3</a></li>
                                <li class="page-item active"><a href="#" class="page-link">4</a></li>
                                <li class="page-item"><a href="#" class="page-link">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
